<audio id="np-audio-container" autoplay="autoplay"></audio>
<section id="now-playing">
	<div class="container np-velocity">
		<div class="np-card">
			<img {{bind-attr src=np.albumArt}} class="album-art">
			<div class="np-details">
				<div class="np-song">
					<h3>{{np.title}}</h3>
					<h4>{{np.artist}}</h4>
				</div>
				<div {{bind-attr class=":np-controls isLoaded::hidden"}}>
					<i class="actionable fa fa-play" {{action "play"}}></i>
					<i class="actionable fa fa-pause" {{action "pause"}}></i>
					<div class="np-progress-bar">
						<span class="progress" {{bind-attr style=progressBarHelper}}></span>
						<div {{bind-attr class=":progress-animation isPlaying::idle"}}></div>
						<span class="progress-bar" {{bind-attr style=progressBarHelper}}></span>
						<span class="progress-time">{{formattedTime}} / {{formattedDuration}}</span>
					</div>
				</div>
				<div {{bind-attr class=":np-now-loading isLoaded:hidden"}}>
					<div {{bind-attr class="loading::hidden"}}>Now Loading</div>
					<div {{bind-attr class=":progress-animation :idle"}}></div>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="now-playing-playlist">
	<div {{bind-attr class=":playlist-container playlist.length::hidden"}}>
		{{#each track in playlist}}
			{{playlist-item track=track index=_view.contentIndex currentTrack=currentTrack}}
		{{/each}}
	</div>
</section>