<section id="now-playing">
	<div class="container np-velocity">
		<div class="np-card">
			<img {{bind-attr src=np.albumArt}} class="album-art">
			<div class="np-details">
				<h3>{{np.title}}</h3>
				<h4>{{np.artist}}</h4>
			</div>
			<div class="np-controls">
				<div class="actionable play" {{action "play"}}>Play/Pause</div>
				<div class="np-progress-bar">
					<span class="progress" {{bind-attr style=progressBarHelper}}></span>
				</div>
			</div>
		</div>
	</div>
</section>
{{currentTime}} / {{duration}}
<section id="now-playing-playlist">
	{{#each track in playlist}}
		{{playlist-item track=track index=_view.contentIndex currentTrack=currentTrack}}
	{{/each}}
</section>